/* @import '../sass/footer.scss'; */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    background-color: #F5F8F3;

    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 70vh;
    /* width: 80%; */
}

.documentos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    /* width: 80%; */
    gap: 50px;

}

.documentos .estados {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    padding: 20px;

    height: 190px;
    width: 250px;

    border: 2px solid rgb(72, 171, 238);;
    border-radius: 15px;
    box-shadow: 15px 15px 10px #baba;
}

.documentos .estados .estados__tipo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.documentos .estados a button {
    width: 80px;
    height: 40px;

    transition: .3s ease-out;

    border: none;
    background-color: rgb(72, 171, 238);
    border-radius: 20px;

    color: #fff;

    font-size: 1.1rem;
    
}

.documentos .estados a button:hover {
    /* transition: .5s ease-out; */
    transform: scale(.85);
    cursor: pointer;
}

.documentos .estados h2 {
    font-size: 1.2rem;
}

@media screen and (max-width: 1023px){
    body {
        display: none;
    }
}