/* @import '../sass/header.css'; */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    background-color: #F5F8F3;

    padding: 0;
    box-sizing: border-box;
}

/* ------ mision, vision, objetivos---------- */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    /* height: 100vh; */

    margin: 50px 0;

}

.mision {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 20px 0;
    padding: 0 20px;

    width: 470px;
}

.mision .titulo {
    color: #3DB8F5;
    font-size: 1.05rem;
    letter-spacing: 2px;
    line-height: 50px;
    border: 2px solid #3DB8F5;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    transition: .7s;
}

.mision .titulo:hover {
    color: #fff;
    background: #3DB8F5;
}

.mision .parrafo {
    width: 350px;
    height: 420px;

    border: 1px solid #000;
    border-radius: 10px;
    padding: 30px;

    margin-top: 10px;
}
.mision .parrafo p {
    line-height: 25px;
    text-align: justify;
}

.mision .parrafo ul li {
    line-height: 35px;
    font-weight: 600;
}

