/* icono de menu  */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?3ot2jt');
    src: url('../fonts/icomoon.eot?3ot2jt#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?3ot2jt') format('truetype'), url('../fonts/icomoon.woff?3ot2jt') format('woff'), url('../fonts/icomoon.svg?3ot2jt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    // speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e9bd";
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    position: relative;
}

.icon-menu {
    cursor: pointer;
}

.burger-button {
    width: 40px;
    height: 40px;
    // top: 5px;
    right: 0px;
    line-height: 40px;
    border-radius: 50%;
    background-color: rgba(16, 152, 243, .7);
    color: #fff;
    margin: 10px;
    // display: block;
    text-align: center;
    position: fixed;
    z-index: 1000;
}

.header {
    width: 70vw;
    text-align: center;
    // background-color: rgba(16, 152, 243, .65);
    background-color: rgba(173, 207, 230, .9);
    top: 0;
    bottom: 0;
    right: -100vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: .3s;
    &.is-active {
        right: 0;
    }
    & .enlaces {
        & button {
            width: 150px;
            height: 50px;
            background-color: rgba(16, 152, 243, 0.7);
            border: none;
            border-radius: 10px;
            min-width: 150px;
            max-width: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0;
            color: #fff;
            font-size: 1.1rem;
            & a {
                color: #0063a9;
                font-size: 1rem;
                font-weight: bolder;
                text-decoration: none;
                line-height: 70px;
            }
        }
        &:active {
            transform: scale(.8);
            transition: .8s;
        }
    }
}

.logo {
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(100deg, #6FC0F9 70%, #89daf8 100%);
    padding-bottom: 30px;
    & img {
        width: 150px;
        height: 45px;
        border: 1px solid #bababa;
        border-radius: 7px;
        box-shadow: 2px 3px 5px #fff;
        margin-top: 20px;
    }
}

.presentacion {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & ul {
        & li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
    & .slider {
        // position: relative;
        /* width: 280px; */
        width: 100%;
        object-fit: cover;
        height: 300px;
        text-align: center;
        margin: 0;
        padding: 0;
        & li {
            width: inherit;
            height: inherit;
            position: absolute;
            opacity: 0;
            transition: opacity .5s;
            & img {
                width: 100%;
                height: inherit;
                border-radius: 10px;
                object-fit: cover;
            }
            &:first-child {
                opacity: 1;
            }
            &:target {
                opacity: 1;
            }
        }
    }
    & .menu {
        text-align: center;
        margin: 10px 0;
        & li {
            display: inline-block;
            & a {
                display: inline-block;
                color: #fff;
                text-decoration: none;
                background-color: #3DB8F5;
                border-radius: 50%;
                height: 15px;
                width: 15px;
                padding: 10px;
                line-height: 15px;
                transition: .5s;
                animation-name: color;
                animation-duration: 1s;
            }
        }
    }
    @keyframes color {
        from {
            transform: translateY(500px);
        }
        to {
            transform: translateY(0);
        }
    }
}

.servicios {
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    & h2 {
        font-size: 1.2rem;
        color: #3DB8F5;
        letter-spacing: 2px;
        line-height: 50px;
        border: 2px solid #3DB8F5;
        border-radius: 5px;
        width: 210px;
        text-align: center;
        transition: .7s;
        &:hover {
            color: #fff;
            background: #3DB8F5;
        }
    }
    & .tipos {
        width: 300px;
        & .fisio {
            min-width: 300px;
            max-width: 400px;
            height: auto;
            /* border: 1px solid #000; */
            margin-bottom: 20px;
            padding-bottom: 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            & h3 {
                text-align: center;
                letter-spacing: 3px;
                &:hover {
                    height: 5px;
                    text-decoration-line: underline;
                }
            }
            & img {
                width: 250px;
                height: 250px;
                min-width: 280px;
                max-width: 550px;
                /* width: calc(100% - 20px); */
                border-radius: 10px;
                box-shadow: 5px 10px 10px #bababa;
                /* animation-name: hundir; */
                animation-duration: 1.5s;
                animation-timing-function: ease-out;
            }
            @keyframes hundir {
                0% {
                    transform: scale(.5);
                }
                30% {
                    transform: scale(.7);
                }
                65% {
                    transform: scale(.9);
                }
                100% {
                    transform: scale(1);
                }
            }
        }
    }
}

footer {
    // position: relative;
    width: 100vw;
    height: auto;
    background: linear-gradient(100deg, #6FC0F9 70%, #89daf8 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    & .info-contacto {
        display: flex;
        // justify-self: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        & p {
            color: #fff;
            font-weight: 700;
            letter-spacing: 2px;
            line-height: 1px;
            line-break: loose;
        }
        & img {
            width: 200px;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            perspective: 1000px;
            -webkit-box-reflect: below 10px;
        }
    }
    & .socialmedia {
        & img {
            position: fixed;
            bottom: 10px;
            right: 10px;
            width: 50px;
            height: 50px;
        }
    }
}