doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CIRP

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./sass/main.css">

        //- logo pestaña
        link(rel="icon", href="./assets/img/favicon.ico")
    body
        i.icon-menu.burger-button#burger-menu

        header.header 
            //- .enlaces 
            //-     button(onclick="inicio()") Inicio 
            .enlaces 
                a(href="./html/documentos.html") Documentación
                //- button(onclick="documentos()") Documentación
            .enlaces 
                a(href="./html/nosotros.html") Nosotros
                //- button(onclick="nosotros()") Nosotros

        main 
            section.presentacion 
                ul.slider 
                    li#slide1
                        img(src="./assets/img/1.jpeg", alt="") 
                    li#slide2
                        img(src="./assets/img/2.jpeg", alt="") 
                    li#slide3
                        img(src="./assets/img/3.jpeg", alt="") 
                    li#slide4
                        img(src="./assets/img/4.jpeg", alt="") 
                    li#slide5
                        img(src="./assets/img/5.jpeg", alt="") 
                    li#slide6
                        img(src="./assets/img/6.jpeg", alt="") 

                ul.menu 
                    li
                        a(href="#slide1")
                    li
                        a(href="#slide2")
                    li
                        a(href="#slide3")
                    li
                        a(href="#slide4")
                    li
                        a(href="#slide5")
                    li
                        a(href="#slide6")

            section.servicios 
                h2 Servicios terapéuticos 

                article.tipos 
                    .fisio 
                        h3 Fisioterapia                        
                        img(src="./assets/img/fisio/1.jpg", alt="")
                    .fisio 
                        h3 Fonoaudiología
                        img(src="./assets/img/fono.jpeg", alt="")
                    .fisio 
                        h3 Terapia Ocupacional
                        img(src="./assets/img/ocupacional.jpg", alt="")
                    .fisio 
                        h3 Psicología
                        img(src="./assets/img/psico.jpg", alt="")

        footer 
            .info-contacto 
                img(src="./assets/img/logo.jpg", alt="")
                p Línea de atención: 314-725-4774
                p Email: rehabilitarcirp@gmail.com
                p Dirección: Calle 15 16 Crr 14
                p Barrio "El triunfo
                p Sibundoy, Putumayo
                //- img(src="./assets/img/redes/whatsapp.png", alt="")
                
            .socialmedia
                img(src="./assets/img/redes/whatsapp.png", alt="")

            script(src="./js/links.js")
            script(src="./js/menu.js")  
