.header {
    width: 25vw;
}

.header .enlaces {
    display: block;
}

.header .enlaces button {
    width: 190px;
    height: 50px;
    display: flex;
    background-color: #fff;
    border-color: #bababa;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 10px;
}

.header .enlaces:active {
    transform: scale(.8);
    transition: .8s;
}

.header .enlaces button a {
    width: 100%;
    color: #000;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    line-height: 70px;
}

.servicios {
    display: block;
    text-align: center;
}

.servicios .tipos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;
    margin-top: 40px;
}

.servicios .tipos .fisio {
    display: block;
}

.servicios h2 {
    margin: 0 auto;
}

footer .info-contacto {
    text-align: center;
}

footer .logo-footer {
    text-align: center;
}

footer .logo-footer img {
    width: 200px;
}