@import url(/home/neuraidev/Documentos/sites/cirp/styles/header.css);
.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 150px;
  /* background: linear-gradient(100deg, #6fc0f9 70%, #89daf8 100%); */
  background-color: #817d7d;
  text-align: center;
}

.footer .footer-info {
  gap: 30px 0;
}

.footer .footer-info p {
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  /*line-height: 1px;
            line-break: loose; */
}

.footer .footer-info img {
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.footer .socialmedia img {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Oswald", sans-serif;
  /* margin: 65px 0; */
  /* padding: 0; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

.logo {
  width: 100vw;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(100deg, #6fc0f9 70%, #89daf8 100%);
  padding-bottom: 30px;
}

.logo img {
  width: 150px;
  height: 45px;
  border: 1px solid #bababa;
  border-radius: 7px;
  -webkit-box-shadow: 2px 3px 5px #fff;
          box-shadow: 2px 3px 5px #fff;
  margin-top: 20px;
}

.presentacion {
  position: relative;
  margin: 10px auto 0;
  overflow: hidden;
  width: 90%;
  border-radius: 50px;
}

.presentacion .slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500%;
  height: 250px;
  -webkit-animation: slider;
          animation: slider;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transition: 1s ease-in-out all;
  transition: 1s ease-in-out all;
  /* border: 2px solid red; */
}

.presentacion .slider li {
  list-style: none;
  width: 100%;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.presentacion .slider li img {
  -ms-flex-item-align: strech;
      -ms-grid-row-align: strech;
      align-self: strech;
  width: 100%;
  /* height: 90px; */
  -o-object-fit: contain;
     object-fit: contain;
}

.presentacion .slider li:first-child {
  /* opacity: 0; */
}

.presentacion .slider li:target {
  /* opacity: 1; */
}

@-webkit-keyframes slider {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }
  21% {
    margin-left: -100%;
  }
  39% {
    margin-left: -100%;
  }
  40% {
    margin-left: -200%;
  }
  60% {
    margin-left: -200%;
  }
  61% {
    margin-left: -300%;
  }
  80% {
    margin-left: -300%;
  }
  81% {
    margin-left: -400%;
  }
  100% {
    margin-left: -400%;
  }
}

@keyframes slider {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }
  21% {
    margin-left: -100%;
  }
  39% {
    margin-left: -100%;
  }
  40% {
    margin-left: -200%;
  }
  60% {
    margin-left: -200%;
  }
  61% {
    margin-left: -300%;
  }
  80% {
    margin-left: -300%;
  }
  81% {
    margin-left: -400%;
  }
  100% {
    margin-left: -400%;
  }
}

.servicios {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  margin: 100px;
  /* height: auto; */
  border: 3px solid #baba;
  border-radius: 20px;
}

.servicios h2 {
  font-size: 1.2rem;
  color: #3db8f5;
  letter-spacing: 2px;
  line-height: 50px;
  border: 2px solid #3db8f5;
  border-radius: 5px;
  width: 210px;
  text-align: center;
  margin-bottom: 20px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.servicios h2:hover {
  color: #fff;
  background: #3db8f5;
}

.servicios .tipos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.servicios .tipos .fisio {
  width: 350px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 50px;
  /* margin-bottom: 120px;
            padding-bottom: 20px; */
}

.servicios .tipos .fisio p {
  letter-spacing: 2px;
  font-size: 1.1rem;
  text-decoration: underline;
}

.servicios .tipos .fisio img {
  width: inherit;
  height: 200px;
  margin-top: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px 10px #bababa;
          box-shadow: 5px 10px 10px #bababa;
  /* animation-name: hundir; */
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes hundir {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  30% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  65% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes hundir {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  30% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  65% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=styles.css.map */